#about-head {
    display: flex;
    align-items: center;
    img {
        width: 50%;
        height: auto;
    }

    div {
        padding-left: 40px;
    }
} 

@media(max-width: 477px) {
    #about-head {
        flex-direction: column;

        img {
            width: 100%;
            margin-bottom: 20px;
        }

        div {
            padding-left: 0px;
        }
    }
}