#hero {
    background: #000;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2, h4 {
        color: white;
        margin-bottom: 10px;
    }
}