#delivery-info {
    width: 40%;
    position: fixed;
    top: 30%;
    left: 30%;
    box-shadow: 0px 4.62128px 18.4851px rgba(53, 55, 81, 0.06);
    border-radius: 10px;
    background-color: #fff;
    color: #000;

    .header {
        background-color: #e3e6f3;
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            font-size: 20px;
            font-weight: 600;
        }
    }   
    
    ul {
        list-style-type: none;
        padding: 10px;

        li {
            margin-bottom: 20px;

            a {
                color: #088178;
            }
        }
    }
}