#cart {
    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        white-space: normal;

        img {
            width: 70px;
        }

        td:nth-child(1) {
            width: 100px;
            text-align: center;
        }

        td:nth-child(2) {
            width: 150px;
            text-align: center;
        }

        td:nth-child(3) {
            width: 250px;
            text-align: center;
        }

        td:nth-child(4),
        td:nth-child(5),
        td:nth-child(6),
        td:nth-child(7),
        td:nth-child(8) {
            width: 150px;
            text-align: center;
        }

        td:nth-child(5) select,
        td:nth-child(7) input {
            width: 70px;
            padding: 10px 5px 10px 15px;
        }

        td:nth-child(6) select {
            padding: 10px 5px 10px 15px;
        }

        thead {
            border: 1px solid #e2e9e1;
            border-left: none;
            border-right: none;

            td {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 13px;
                padding: 18px 0;
            }
        }

        tbody {
            td {
                font-size: 13px;
            }
            
            tr {
                td {
                    padding-top: 15px;
                }
            }
        }
    }
}

@media(max-width: 830px) {
    #cart {
        overflow-x: auto;
    }
}