#hero {
    background: #000;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2, h4 {
        color: white;
        margin-bottom: 10px;
    }

    button {
        background-color: transparent;
        padding: 20px 30px;
        color: #fff;
        border-radius: 10px;               
        border: 1px solid #fff;
        font-size: 13px;
        font-weight: 700;
        cursor: pointer;
        transition: 0.2s ease;
    }

    button:hover {        
        background-color: #fff;        
        border: 1px solid #fff;
        color: #000;
    }
}