#pagination {
    text-align: center;

    button {
        background-color: #000;
        color: #fff;
        padding: 15px 20px;
        border-radius: 4px;
        font-weight: 600;
        margin: 0 3px;

        i {
            font-size: 16px;
            font-weight: 600;
        }
    }

    button:hover {
        background-color: transparent;
        color: #000;
        border: 1px solid #000;
    }
}